.letters {
  margin: auto 0;
  text-align: center;
  background-color: red;
  font-size: 5em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 5px;
  color: white;
  font-family: Helvetica;
}
