.body {
  font-family: 'PT Sans', sans-serif;
}

#controls {
  margin: 30px auto;
  text-align: center;
}

.collection_object {
  margin: auto 0;
  text-align: center;
  background-color: #479DD9;
  font-size: 5em;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 5px;
  color: white;
  -webkit-border-radius: 2px;
}

.collection_object.explode {
  opacity: 0.3;
}

#sub_nav {
  margin: 10px 10px;
}

a.button {
  border: 4px solid #479DD9;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #479DD9;
}

a.button:hover {
  background-color: #479DD9;
  color: white;
}

